.clubs-card {
    margin-bottom: 40px;
}

.clubs-card h6 {
    font-size: 16px;
    margin-bottom: 10px;
    padding-top: 0px;
}

.clubs-card hr {
    margin: 10px;
}

.clubs-card p {
    font-size: 12px;
}

.clubs-card img {
    height: 200px;
    width: auto;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 3px;
}

.clubs-card small {
    font-size: 70%;
}

.clubs-card-body {
    height: 200px;
    display: flex;
    flex-direction: column;
}

.card.clubs-card {
    border: none;
    border-right: 2px solid rgb(238, 238, 238);
    border-radius: 0px;
}

.find-club-title {
    margin: 50px 70px;
}

.btn-pagination {
    margin-right: 20px;
}

.buttons-pagination {
    display: flex;
    justify-content: center;
}

.clubs-list-header h1 {
    margin-top: 60px;
    margin-bottom: 40px;
}

.clubs-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar.form-group {
    display: flex;
    margin-bottom: 30px;
}

.book-title-btn {
    width: 240px;
    font-size: 14px;
    margin-left: 5px;
}

.buttons-pagination {
    margin-bottom: 50px;
}

@media (max-width:450px) {
    
    .clubs-list-header {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 60px;
    }

    .search-bar.form-group {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .search-bar button {
        margin: 5px auto;
        width: 100%;
    }

}
