.hero-container {
    /* width: 100%;
    height: 890px;
    background-image: url('../../../images/hero3.jpeg');
    background-repeat: no-repeat;
    background-position: right 95px bottom 0px;
    background-size: 640px; */
}

.hero-title {
    margin-top: 300px;
    margin-left: 80px;
}

.hero-title h1 {
    font-size: 80px;
    font-weight: 200;
}

.first-hero-btn {
    margin-right: 8px;
}

.hero-buttons {
    margin-top: 40px;
    margin-left: 80px;
}

.herobtn {
    border: 1px solid rgb(28, 163, 175);
    background-color: white;
    padding: 8px 16px;
    height: 48px;
    border-radius: 5px;
    margin-top: 2px;
    font-size: 1.3em;
    color: rgb(28, 163, 175);
    margin-right: 15px;
    font-weight: 500;
}

.herobtn:hover {
    color: white;
    background-color: rgb(28, 163, 175);
}

.hero-img {
    width: 600px;
    margin-left: 80px;
}

@media (max-width:1024px) {
    .hero-img {
        width: 270px;
        margin-top: 370px;
    }
}

@media (max-width:800px) {
    .hero-img {
        width: 240px;
        margin-top: 290px;
        margin-left: 0px;
    }

    .hero-title {
        margin-top: 200px;
    }

    .hero-title h1 {
        font-size: 63px;
    }

    .herobtn {
        width: 238px;
    }
}

@media (max-width:766px) {
    .hero-img {
        display: none;
    }

    .hero-title {
        margin-top: 90px;
        margin-left: 0px;
    }

    .hero-title h1 {
        font-size: 50px;
    }

    .herobtn {
        width: 238px;
    }

    .hero-buttons {
        margin-left: 0px;
    }

    .herobtn {
        font-size: 1.1em;
        font-weight: 400;
        width: 205px;
    }
}