.hero-container {
    width: 100%;
    height: 890px;
    background-image: url('../../../images/hero3.jpeg');
    background-repeat: no-repeat;
    background-position: right 95px bottom 0px;
    background-size: 640px;
}

.hero-title {
    margin-top: 300px;
    margin-left: 80px;
}

.hero-title h1 {
    font-size: 80px;
    font-weight: 200;
}

.first-hero-btn {
    margin-right: 8px;
}

.hero-buttons {
    margin-top: 40px;
    margin-left: 80px;
}

.herobtn {
    border: 1px solid rgb(28, 163, 175);
    background-color: white;
    padding: 8px 16px;
    height: 48px;
    border-radius: 5px;
    margin-top: 2px;
    font-size: 1.3em;
    color: rgb(28, 163, 175);
    margin-right: 15px;
    font-weight: 500;
}

.herobtn:hover {
    color: white;
    background-color: rgb(28, 163, 175);
}