img {
    width: 200px;
}

.btn-join-right {
    margin-top: 20px;
    margin-left: auto;
    display: table;
    width: 150px;
}

.details-info p {
    font-weight:500;
    font-size: 16px;
    margin-top: 30px;
}

