.spinner {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    border-top-color: black;
    border-left-color: black;
    border-right-color: rgb(179, 179, 179);
    border-bottom-color: rgb(179, 179, 179);
    animation: spinner .2s infinite linear
}


@keyframes spinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}